
/* Yellow button*/
.ButtonYellow {
  background-color: #FFFC00;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  height: 40px;
  padding: 1px, 20px;
  margin: 20px;
  color: black;
}

.ButtonYellow:hover {
  background-color: black;
  color: white;
  border-color: black;
}

/* White button*/
.ButtonWhite {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  height: 40px;
  padding: 1px, 20px;
  margin: 20px;
  color: black;
}

.ButtonWhite:hover {
  background-color: black;
  color: white;
  border-color: #FFFC00;
}

/*Button sizing*/

.SuperButton {
  width: 100px;
}

.LongButton {
  width: 80%;
}

.MediumButton {
  width: 70%;
}

.Medium {
  width: 50%;
}

/*Resizing for mobile*/
@media screen and (max-width: 768px) {
  .Medium {
    width: 80%;
  }
}
