
/* Yellow button*/
.ButtonYellow {
  background-color: #FFFC00;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  height: 40px;
  padding: 1px, 20px;
  margin: 20px;
  color: black;
}

.ButtonYellow:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.ButtonComment {
  background-color: white;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  border-color: black;
  height: 40px;
  padding: 1px, 20px;
  margin: 20px;
  color: black;
}


/* White button*/
.ButtonWhite {
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: black;
  height: 40px;
  padding: 1px, 20px;
  margin: 20px;
  color: black;
  animation: glowing 1300ms infinite;
}

.ButtonWhite:hover {
  background-color: black;
  color: white;
  border-color: #FFFC00;
}

/*Button sizing*/

.SuperButton {
  width: 100px;
}

.LongButton {
  width: 80%;
}

.MediumButton {
  width: 70%;
}

.Medium {
  width: 50%;
}

/*Resizing for mobile*/
@media screen and (max-width: 768px) {
  .Medium {
    width: 80%;
  }
}

/*https://www.w3docs.com/snippets/css/how-to-create-flashing-glowing-button-using-animation-in-css3.html*/

@keyframes glowing {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 20px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
