.InnerContainer {
  width: 80%;
}

.RoundedBorder {
  border: 20px;
}

.post-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-container {
  width: 80%;
}

.content-container-white-border {
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  background-color: white;
}

.ContainerBlackBorder {
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.ContainerYellowBorder {
  border-style: solid;
  border-width: 10px;
  border-color: #FFFC00;
  border-radius: 20px;
  background-color: white;
}

.content-container-black-border {
  border-style: solid;
  border-color: white;
  border-width: 5px;
  border-radius: 20px;
  background-color: black;

}

.ContentToneBorder {
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.PostContainer {
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
  background-color: #F9F9F9;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin-bottom: 10vh;
}

.ImageContainer {
  padding: 5px;
  max-height: 300px;
  min-height: 200px;
  max-width: 300px;
  object-fit: cover;
}

.Padding {
  width: 40px;
}

.Posts {
  margin-bottom: 10vh;
  white-space: normal;
}

.Padding div {
  padding-top: 20px;
  padding-bottom: 10px;
}

.SmallComponent {
  width: 40vw;
  margin-top: 15vh;
}

.SingleComponent {
  width: 60vw;
  max-width: 800px;
}

.FlexHeight {
  height: 72vh;
}

/* .Avatar {
  border-radius: 25%;
  border-color: black;
  border: solid;
  width: 200px;
} */

/*https://www.geeksforgeeks.org/how-to-fixed-one-column-and-scrollable-other-column-or-columns-in-bootstrap/*/

.FixedHeight {
  height: 80vh;
  overflow: scroll;
  white-space: nowrap;
}

.SideContainer {
  display: flex;
  height: 50vh;
  overflow: scroll;
  white-space: nowrap;
  /* border-style: solid;
 border-color: white; */
  border-width: 5px;
  border-radius: 20px;
  padding: 10px;
}

.WrapText {
  width: 100%;
  overflow-wrap: break-word;
  background-color: #EBE83D;
}



.ContainerWhiteThinBorder {
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: white;
  max-width: 50%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.picture-container {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px 10px 0px 0px;
  background-color: white;
  width: 563px;
}

.content-container-tone {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  background-color: #eff1f3;
  max-width: 563px;
}


.content-container-tone-no-border {
  border-radius: 20px;
  background-color: #F9F9F9;
  margin-top: 20px;
}


.side-content-container {

  border-radius: 10px;
  border: solid;
  background-color: white;
  margin-top: 20px;
  height: 400px;
  border-width: 5px;

}

.side-content-container div {
  padding-top: 15px;
}

.post-header {
  border-width: 5px;
  border-radius: 10px;
  max-width: 563px;
}

/* Testing */
.Yellow {
  background-color: #EBE83D;
}

.Green {
  background-color: green;
}

.Black {
  background-color: black;
}

.Blue {
  background-color: blue;
}

/*Tablet*/
@media screen and (max-width: 992px) {
  .SideContainer {
    /* max-height: 17vh; */
    height: 140px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
  }
}

/*Mobile sizing*/
@media screen and (max-width: 768px) {
  .Padding {
    padding-top: 5px;
  }

  .Padding div {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .ContainerWhiteThinBorder {
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    max-width: 90%;
    margin: 20px;
  }

  .SmallComponent {
    width: 100%;
  }

  .SingleComponent {
    width: 90%;
    margin-top: vh;
  }

  .FlexHeight {
    height: 80vh;
  }


}