.App {
    font-family: grenadine-mvb, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    background-color: #FFFC00;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

.ComicText {
    font-family: collector-comic, sans-serif;
    font-weight: 400;
    text-align: center;
    font-style: italic;
}

.ComicTextNormal {
    font-family: collector-comic, sans-serif;
    font-weight: 400;
}

.HeroText {
    font-family: cc-smash-open, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;

}

.Terminal {
    font-family: courier-std, monospace;
    font-weight: 400;
    font-style: normal;
    color: #4AF626;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}



.Input {
    width: 80%;
    text-align: center;
}

/*Resizing for mobile*/
@media screen and (max-width: 768px) {
    .App {
        background-color: pink;
    }

    .InfoText {
        font-size: 12px;
    }

    .ComicText {
        font-size: medium;
        text-align: center;
        padding-top: 10px;
    }


}