.App {
    font-family: grenadine-mvb, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    background-color: #EBE83D;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

.ComicText {
    font-family: collector-comic, sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ComicTextNormal {
    font-family: collector-comic, sans-serif;
    font-weight: 400;
}