.App {
    font-family: grenadine-mvb, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    background-color: #EBE83D;
    min-height: 100vh;
}

.Main {
    padding-top: 81px;
}

.info-text {
    font-family: grenadine-mvb, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
}